body {
    justify-content: center;
    background-color: gray;
    color: yellowgreen;
}

nav {
    position: relative;
    overflow: hidden;
    background-color: brown;
}

nav li {
    float: left;
    list-style-type: none;
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
    text-decoration: solid;
}

img {
    width: 200px;
    height: 200px;
    margin: 20px;
}

a {
    font-size: 20px;
}

a:hover {
    font-size: 30px;
}